@CHARSET "ISO-8859-1";

#conteudo {
	padding: 10px;
}

.button {
	margin-top: 10px;
	margin-bottom: 10px;
}

.divPai {
	width: 100%;
	display:inline-flex;
}

.divFilha {
	width: 300px;
	min-width: 300px;
	max-width: 300px;
	float: left;
	margin: 5px;
}

.botao_chat{
	float: right;
	width: 30px;
	height: 50px;
}

.mensagem_chat{
	float: left;
	width: 30px;
	height: 50%;
}