@CHARSET "ISO-8859-1";

#conteudo {
	padding: 10px;
}

.button {
	margin-top: 10px;
	margin-bottom: 10px;
}

.divPai {
	width: 100%;
}

.divFilha {
	width: 400px;
	min-width: 400px;
	max-width: 400px;
	height: 400px;
	min-height: 400px;
	max-height: 400px;
	float: left;
	margin: 5px;
	overflow: scroll;
}

.chat{
	max-width: 400px;
	max-height: 400px;
}

.botao_chat{
	float: right;
	width: 30%;
	height: 40px;
}


.mensagem_chat{
	float: left;
	height: 3em;
	width: 400px;
}
.scroll{
	width: 400px!important;
	height: 400px!important;
    overflow: scroll!important;
      list-style-type: none!important;
}
.ui-datalist-data{
	display: block;
  list-style-type: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.mensagem_data{
	color: red;
	padding-right: 10px;
}

.mensagem_texto{
	margin-left: 20px;
}